<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="keywords" content="Gizem, Product Designer, UX/UI, UX Designer, Developer">
  <meta name="description" content="Gizem is a product designer and UI developer in Austin">
  <meta name="robots" content="index, follow">
  <meta name="author" content="Gizem | Gizemist">
  <meta name="copyright" content="Gizem | Gizemist">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta property="og:title" name="title" content="Gizem | Product Designer in Austin">
  <meta property="og:url" content="http://www.gizemist.com">
  <meta property="og:description" name="description" content="Gizem is a product designer and UI developer in Austin">
  <meta property="og:image" content="http://www.gizemist.com/imgs/gizem-designer-fullstack-developer-banner.jpg">
  <meta property="og:image:type" content="image/jpeg">
  <meta name="geo.placename" content="Austin">
  <meta name="geo.region" content="Texas">
  <meta name="google" content="notranslate" />
  <meta name="google-site-verification" content="KP7Zfjj5ghJCiJG42x_kIU4NLtwEL27gHof6Wj8boCI" />

  <title>The Gizem-ist Gizem | Product Designer</title>

  <link href="css/bootstrap.css" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,900,300italic,400italic" rel="stylesheet" type="text/css">
  <link href="css/style.css" rel="stylesheet">
  <!-- <link href='https://fonts.googleapis.com/css?family=Raleway|Lato|Montserrat|PT+Serif' rel='stylesheet' type='text/css'> -->
  <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>